name: 'infra'
include:
  # - ELK/docker-compose.yml
  # - database/docker-compose.yml
  # - observability/prometheus/prometheus-docker-compose.yml
  # - monitoring/docker-compose.yml
  # - minio/docker-compose.yml
  # - kafka/docker-compose.yml
  # - ci-cd/docker-compose.yml


  # - database/cassandra/docker-compose.yml
  # - database/couchbase/docker-compose.yml
  # - database/postgres/docker-compose.yml
  # - database/postgres/docker-compose.yml
  # - authentication/keycloak/docker-compose.yml

  # apache-unomi
  # - ELK/elasticsearch/elasticsearch-docker-compose.yml
  # - apache-unomi/docker-compose.yml
  - open-webui/docker-compose.yml
  
networks:
  tejaswi-net:
    name: tejaswi-net
    driver: bridge