name: 'infra'
services:
  couchbase:
    platform: linux/amd64
    container_name: couchbase
    image: couchbase/server:community-5.1.1
    volumes:
      - couchbase-data:/opt/couchbase/var
    networks:
      - tejaswi-net
    ports:
      - 8091:8091
      - 8092:8092
      - 8093:8093
      - 8094:8094
      - 11210:11210
    ulimits:
      nproc: 65535
      core:
        soft: 100000000
        hard: 100000000
      memlock:
        soft: 100000000
        hard: 100000000
      nofile:
        soft: 40960
        hard: 40960

volumes:
  couchbase-data:
    driver: local  

networks:
  tejaswi-net:
    name: tejaswi-net
    driver: bridge