services:
  keycloak:
    platform: linux/amd64
    container_name: keycloak-container # Custom container name
    image: quay.io/keycloak/keycloak:latest
    # depends_on:
    #   - postgres
    environment:
      KC_HOSTNAME: keycloak
      KC_HOSTNAME_ADMIN_URL: http://keycloak:18080
      KC_HOSTNAME_STRICT: "false"
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://db:5432/keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: Kkr#78q1re
      KC_HTTP_ENABLED: "true"
    command: start-dev
    # command: /usr/bin/bash
    ports:
      - "18080:8080"
    # restart: unless-stopped # Restart policy
    networks:
      - tejaswi-net
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:18080/health/ready"]
      interval: 10s
      timeout: 5s
      retries: 3
networks:
  tejaswi-net:
    name: tejaswi-net
    driver: bridge